body {
  margin: auto;
}
h1,
h2 {
  text-align: left;
  margin: 3% 22%;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
ul {
  list-style: none;
}
.grid {
  padding: 2%;
  border-color: blue;
  text-align: center;
  margin: 2% 10% 2% 10%;
  font-size: small;
  font-family: 'Raleway', sans-serif;
}

.quiz-options {
  margin: 3% 20%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  background-color: ;
}

.user-response {
  margin: 0.5% 2%;
}

.continent {
  text-align: center;
  padding: 5%;
  font-size: medium;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.americas-50,
.americas-100,
.americas-200,
.americas-500,
.europe-50,
.europe-100,
.europe-200,
.europe-500,
.asia-50,
.asia-100,
.asia-200,
.asia-500 {
  display: none;
  font-family: 'Raleway', sans-serif;
}

.quiz-container {
  text-align: left;
  margin: 3% 20%;
  padding: 1%;
}

.notification {
  display: none;
  text-align: center;
  border-style: double;
  /* margin: 2%; */
}

.check-score,
.notify-player {
  margin: 2%;
  padding: 1%;
}
